@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

/* Start Project initialization */

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-moz-selection,
*::selection {
  @apply bg-primary text-white;
}

*::-webkit-scrollbar {
  @apply w-[8px];
}

*::-webkit-scrollbar-track {
  @apply bg-[#ccc];
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary border-r-[8px];
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

.overflowNone {
  @apply overflow-hidden;
}

a {
  @apply no-underline;
}

ul {
  list-style: none;
  @apply m-0 p-0;
}

:focus-visible {
  outline: unset;
}

/* font  */
/* Don't forget to add fonts â­ */
@font-face {
  font-family: 'TajawalRegular';
  src: url('../../src/assets/fonts/Tajawal-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'TajawalMedium';
  src: url('../../src/assets/fonts/Tajawal-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'TajawalBold';
  src: url('../../src/assets/fonts/Tajawal-Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'TajawalLight';
  src: url('../../src/assets/fonts/Tajawal-Light.ttf');
  font-display: swap;
}

body,
* {
  font-family: 'Cairo', sans-serif;
}

/* @font-face {
  font-family: 'Din-Next';
  src: url('./fonts/');
  font-display: swap;
} */

@layer base {
  :root {
    --background: #f9f7f7;
    --primary: #2260aa;
    --secondary: #d3971b;
    --main: #4f4f4f;
    --border: #4f4f4f;
    --input: #6d51391c;
    --textGray: #b0b0b0;
  }
}

/* End Project initialization */

/* Start Global Styles */
.custom-box-shadow {
  box-shadow: 0px 2px 8.3px 0px rgba(0, 0, 0, 0.2);
}
.custom-box-shadow-2 {
  box-shadow: 0px 1px 9.8px 0px rgba(0, 0, 0, 0.14);
}

.custom-box-shadow-3 {
  box-shadow: 0px 2px 8.8px 0px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1280px) and (max-width: 1500px) {
  .container {
    @apply !px-20;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .container {
    max-width: 992px;
  }
}

/* End Global Styles */

/* Start Navbar Section*/
.overflowNone {
  overflow: hidden;
}

.navbar .hamburger {
  @apply hidden;
}

.navbar .hamburger.active {
  @apply transition-all duration-300 ease-in-out delay-500 rotate-45;
}

:is(:where([dir='rtl']) .navbar .nav-contain) {
  @apply !duration-500;
}

.navbar .hamburger.active .line:nth-child(1) {
  @apply translate-y-[6.5px];
}

.navbar .hamburger.active .line:nth-child(2) {
  @apply w-0;
}

.navbar .hamburger.active .line:nth-child(3) {
  @apply translate-y-[-15px] rotate-90;
}

.navbar .hamburger .line {
  @apply w-[30px] h-[3px] bg-primary block mx-auto my-2 transition-all duration-300 ease-in-out;
}

/* navbar media query */
@media (max-width: 999px) {
  .navbar .hamburger {
    @apply !block !cursor-pointer;
  }

  .navbar .nav-contain {
    @apply w-full pt-6 absolute z-50 h-[100vh] top-[150px] overflow-y-scroll left-[-100%] bg-[#f9f7f7] flex-col justify-start py-[10px] pl-[20px] transition-all duration-300 ease-linear rtl:left-[unset] rtl:right-[-100%] rtl:transition-all;
  }

  .navbar .nav-contain.active-nav {
    @apply rtl:left-[unset] rtl:right-0 left-0 right-[unset];
  }

  .navbar .nav-contain.active-nav .nav-item {
    @apply text-end;
  }

  .navbar .nav-contain .navbar-nav {
    @apply w-full flex-col justify-start;
  }
}

@media (max-width: 480px) {
  .navbar .nav-contain {
    @apply !px-4;
  }
}

/* End Navbar Section */

/* Start custom styles Swiper */
.here-section .swiper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  z-index: 9;
  overflow: hidden;
  /* animation: movePatternX 50s linear infinite; */
}

.about-me-section {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  /* background: url('/assets/images/pattern-about-me.webp') center/cover repeat-x; */
  background-color: #2260aa;
  z-index: 9;
  overflow: hidden;
  animation: movePatternX 50s linear infinite;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  @apply !bottom-0 !bg-white;
}

.swiper-pagination-bullet {
  @apply !rounded-[8px];
}

.swiper-pagination-bullet-active {
  @apply !w-[35px];
}

/* End custom styles Swiper */

/* Start Style Articles */
.articles-pattern {
  width: 100%;
  position: relative;
  background: url('/assets/images/images 9.png') center/cover repeat-y;
  z-index: 9;
  overflow: hidden;
  animation: movePattern 90s linear infinite;
}
/* End Style Articles */

/* Start Customer Review */
.customer-review-style .swiper-wrapper {
  padding-bottom: 2.5rem !important;
}

@media (min-width: 1280px) {
  .customer-review-style .swiper-slide.swiper-slide-next > div {
    width: 400px !important;
    height: 285px !important;
    min-width: 400px !important;
    min-height: 285px !important;
  }
  .customer-review-style .swiper-slide.swiper-slide-next > div > div {
    width: 100% !important;
    height: 100% !important;
  }
}
/* End Customer Review */

/* Start Footer Section */
.footer-section {
  width: 100%;
  position: relative;
  z-index: 9;
  overflow: hidden;
  animation: movePatternX 55s linear infinite;
}

@media (min-width: 768px) {
  .footer-section {
    background: url('/assets/images/pattern-about-me.webp') center/cover
      repeat-x;
    background-color: var(--primary);
    animation: movePatternX 55s linear infinite !important;
  }
}

.footer-section {
  background: url('/assets/images/pattern-about-me.webp') center/cover repeat-x;
  animation: none;
  background-color: var(--primary);
}

.footer-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: var(--primary); */
  opacity: 1;
  z-index: -1;
}
/* End Footer Section */

/* Start highlights in Album*/
.highlights-style::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.41);
  opacity: 1;
  z-index: 1;
  border-radius: 12px;
}

/* End highlights in Album*/

/* Start Album in Album*/
.custom-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media (max-width: 420px) {
  .custom-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (min-width: 768px) {
  .custom-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(2, 0.5fr) 1fr;
    max-height: 49rem;
  }

  .custom-grid > .albun-card-style:nth-child(1) {
    grid-area: 1 / 4 / 3 / 5;
  }
  .custom-grid > .albun-card-style:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }
  .custom-grid > .albun-card-style:nth-child(3) {
    grid-area: 1 / 2 / 3 / 3;
  }
  .custom-grid > .albun-card-style:nth-child(4) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .custom-grid > .albun-card-style:nth-child(5) {
    grid-area: 3 / 4 / 5 / 5;
  }
  .custom-grid > .albun-card-style:nth-child(6) {
    grid-area: 2 / 3 / 4 / 4;
  }
  .custom-grid > .albun-card-style:nth-child(7) {
    grid-area: 3 / 2 / 5 / 3;
  }
  .custom-grid > .albun-card-style:nth-child(8) {
    grid-area: 2 / 1 / 4 / 2;
  }
  .custom-grid > .albun-card-style:nth-child(9) {
    grid-area: 4 / 1 / 5 / 2;
  }
  .custom-grid > .albun-card-style:nth-child(10) {
    grid-area: 4 / 3 / 5 / 4;
  }
}

/* End Album in Album*/

/* Start Contact us */

.Contact-us-style {
  background: url('/assets/images/hello-map-pattern.webp') center/cover repeat-x;
  width: 100%;
  position: relative;
  z-index: 9;
  overflow: hidden;
  /* animation: movePatternX 55s linear infinite; */
}

.text-stroke-custom {
  color: transparent;
  -webkit-text-stroke: 1px var(--primary);
}
/* End Contact us */

/* Start Courses Details Page */
.courses-details::before {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.44) 0%,
    rgba(0, 0, 0, 0.73) 52.52%,
    rgba(0, 0, 0, 0.75) 100%
  ) !important;
}
/* End Courses Details Page */

/* How To Start */
.how-to-start ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

/* .how-to-start ul::after {
  content: '';
  display: inline-block;
  width: 2px;
  background: #417ec0;
  position: absolute;
  right: 0px;
  top: 13px;
  height: calc(100% - (15px + 25px));
}

.how-to-start ul li {
  position: relative;
  padding-right: 25px;
  margin-bottom: 15px;
}

.how-to-start ul li::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #417ec0;
  border: 5px solid #dee6ee;
  position: absolute;
  right: -9px;
  top: 5px;
  border-radius: 10px;
  animation: dotAnimation 5s infinite;
}

.how-to-start ul li:nth-child(1)::after {
  animation-delay: 0s;
}

.how-to-start ul li:nth-child(2)::after {
  animation-delay: 1.66s;
}

.how-to-start ul li:nth-child(3)::after {
  animation-delay: 3.33s;
}

@keyframes dotAnimation {
  0%,
  80%,
  100% {
    background: #417ec0;
    border: 5px solid #dee6ee;
  }
  40% {
    background: #417ec0;
    border: 5px solid #417ec0;
  }
} */
/* How To End */

/* Start Edit Slider Last Tasks */

.swiper-wrapper .swiper-slide .hero-section-custom.firstSlide {
  display: flex !important;
}

.swiper-wrapper .swiper-slide .hero-section-custom.firstSlide > div {
  align-items: center !important;
}

.swiper-wrapper .swiper-slide .hero-section-custom.firstSlide > div p {
  width: 50% !important;
  text-align: center !important;
}

@media (max-width: 768px) {
  .swiper-wrapper .swiper-slide .hero-section-custom.firstSlide > div {
    @apply mt-[7rem] md:!mt-0;
  }

  .swiper-wrapper .swiper-slide .hero-section-custom.firstSlide > div p {
    width: 87% !important;
    text-align: center !important;
  }
}

@media (max-width: 365px) {
  .swiper-wrapper .swiper-slide .hero-section-custom.firstSlide > div {
    @apply mt-[4rem] pt-9 md:!mt-0;
  }

  .swiper-wrapper .swiper-slide .hero-section-custom.firstSlide > div p {
    width: 87% !important;
    text-align: center !important;
  }
}

.custom-slide-swipe {
  background-size: cover;
}
/* End Edit Slider Last Tasks */

/* Fixed Icon */
.fixed-icons {
  position: fixed;
  bottom: 45px;
  left: 15px;
  z-index: 99;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 25px;
}

.fixed-icons .fixed-icon {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  animation: pulse-shadow 4s linear infinite alternate;
}

.fixed-icons .fixed-icon svg {
  transform: scale(1.4);
}

.fixed-icons .fixed-icon.primary-color {
  background-color: #25d366;
}

.fixed-icons .fixed-icon.secondary-color {
  background-color: #25d366;
}

.fixed-icons .fixed-icon img {
  width: 24px;
  height: 24px;

  -o-object-fit: contain;
  object-fit: contain;
}

.fixed-icons .fixed-icon:hover img {
  animation: fadeInLeft 0.4s linear;
}

@keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(37, 211, 102, 0.3),
      0 0 0 20px rgba(37, 211, 102, 0.2);
  }
}

@media (max-width: 550px) {
  .swiper-wrapper .swiper-slide .hero-section-custom.firstSlide > div p {
    width: 100% !important;
  }
}
